@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

:root {
  --background: #e6eada;
  --foreground: #435058;
  --primary: #778c18;
  --primary-foreground: #435058;
  --secondary: #bfb7b6;
  --secondary-foreground: #435058;
  --muted: #bfb7b6;
  --muted-foreground: #435058;
  --accent: #848c8e;
  --accent-foreground: #e6eada;
  --destructive: #ef4444;
  --destructive-foreground: #e6eada;
  --border: #bfb7b6;
  --input: #bfb7b6;
  --ring: #778c18;
  --radius: 0.625rem;
}

.dark {
  --background: #435058;
  --foreground: #f1f2ee;
  --primary: #dcf763;
  --primary-foreground: #435058;
  --secondary: #848c8e;
  --secondary-foreground: #f1f2ee;
  --muted: #848c8e;
  --muted-foreground: #f1f2ee;
  --accent: #bfb7b6;
  --accent-foreground: #435058;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #848c8e;
  --input: #848c8e;
  --ring: #dcf763;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
